name: Build and Release DDNS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build binaries
      run: |
        # Your build commands here
        chmod +x ddns.sh
        ./ddns.sh
        mv ddns.sh ddns_amd64
        env GOARCH=arm64 go build -o ddns_arm64 ddns.sh
        env GOARCH=arm GOARM=7 go build -o ddns_armv7 ddns.sh

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Create release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload release asset
      id: upload-release-asset-amd64
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./ddns_amd64
        asset_name: ddns_amd64
        asset_content_type: application/octet-stream

    - name: Upload release asset
      id: upload-release-asset-arm64
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./ddns_arm64
        asset_name: ddns_arm64
        asset_content_type: application/octet-stream

    - name: Upload release asset
      id: upload-release-asset-armv7
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./ddns_armv7
        asset_name: ddns_armv7
        asset_content_type: application/octet-stream
