name: Build and release ddns

on:
  push:
    branches:
      - main

jobs:
  build-all:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["amd64", "armv7l", "arm64"]
    steps:
      - uses: actions/checkout@v2
      - name: Install build tools
        run: sudo apt-get install build-essential
      - name: Build for x86/amd64
        if: "${{ matrix.arch == 'amd64' }}"
        run: gcc ddns.sh -o ddns_${{ matrix.arch }}
      - name: Build for armv7l
        if: "${{ matrix.arch == 'armv7l' }}"
        run: |
          sudo qemu-arm-static -L . -static ddns.sh -o ddns_${{ matrix.arch }}
      - name: Build for arm64
        if: "${{ matrix.arch == 'arm64' }}"
        run: |
          sudo qemu-aarch64-static -L . -static ddns.sh -o ddns_${{ matrix.arch }}
      - name: Upload to release
        uses: actions/upload-artifact@v2
        with:
          name: ddns
          path: ddns_${{ matrix.arch }}
